<div class="row">
  <div class="col-md-6 text-center">
    <h1 class="assetDashBoard_h1">List</h1>
  </div>
    <div class="col-md-5" style="display: flex; justify-content: flex-end; ">
      <a (click)="onLogoutClick()" class="">
        Logout
      </a>
    </div>
</div>

<!-- ADD Modal -->
<button type="button" class="btn btn-info btn-lg" (click)="openModal()">
  click to open
</button>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{ display: display }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form [formGroup]="addListForm">

        <div class="modal-body">
          <p>Add</p>
        </div>
        <div class="row">

          <div class="col-md-8">
            <input
            type="text"
            aria-label="listName"
            class="form-control"
            placeholder="Enter listName"
            [formControl]="addListForm.controls['listName']"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-primary"
            (click)="createList(addListForm.value)"
          >
            Submit
          </button>
          <button
            class="btn btn-danger"
            (click)="onCloseHandled()"
          >
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- add list end -->
<div class="list-menu">
  <a
    class="list-menu-item"
    *ngFor="let list of lists"
    [routerLink]="['/lists', list._id]"
    routerLinkActive="is-active"
  >
    <p>{{ list.title }}</p>
  </a>
</div>

<!-- Edit CellSpec Modal -->
