<div class="centered-content" style="position: fixed">
  <div class="row white-box">
    <form [formGroup]="signupForm">
      <h1 class="title">Signup</h1>
      <hr />
      <div class="form-group col-md-12">
        <input
          [formControl]="signupForm.controls['email']"
          type="text"
          class="form-control"
          placeholder="Email"
          style="width: 300px"
        />
      </div>

      <div class="form-group col-md-12">
        <input
          style="width: 300px; margin-top: 20px"
          [formControl]="signupForm.controls['password']"
          type="text"
          class="form-control"
          placeholder="Password"
          id="password"
          autocomplete="off"
        />
      </div>
      <hr />
      <div class="col-md-12" style="display: flex; justify-content: flex-end">
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          [disabled]="signupForm.invalid"
          (click)="onSignupButtonClicked(signupForm.value)"
        >
          SignUp
        </button>
      </div>
    </form>
  </div>
</div>
