<div class="centered-content" style="position: fixed">
  <div class="row white-box">
    <form [formGroup]="loginForm">
      <h1 class="title">Login</h1>
      <hr />
      <div class="form-group col-md-12">
        <input
          [formControl]="loginForm.controls['email']"
          type="text"
          class="form-control"
          placeholder="Email"
          style="width: 300px"
        />
      </div>

      <div class="form-group col-md-12">
        <input
          style="width: 300px; margin-top: 20px"
          [formControl]="loginForm.controls['password']"
          type="text"
          class="form-control"
          placeholder="Password"
          id="password"
          autocomplete="off"
        />
      </div>
      <hr />
      <div class="col-md-12" style="display: flex; justify-content: flex-end">
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          [disabled]="loginForm.invalid"
          (click)="onLoginButtonClicked(loginForm.value)"
        >
          Login
        </button>
      </div>
      <div class="col-md-12" style="margin-top: 10px">
        <p>Not got an account? <a routerLink="/register">Sign up</a> now!</p>
        <!--<h5 *ngIf="success" class="successs mt-4">Login successful</h5>-->
      </div>
    </form>
  </div>
</div>
